<main>
    <form asp-controller="Authorization" asp-action="Authorization" class="form" method="post" enctype="multipart/form-data">
        <div class="element form-group">
            <label for="InputLogin">Логин</label>
            <input name="login" type="text" class="form-control" id="InputLogin" placeholder="Введите логин" required>
        </div>

        <div class="element form-group">
            <label for="InputPassword">Пароль</label>
            <input name="password" type="password" class="form-control" id="InputPassword" placeholder="Введите пароль" required>
        </div>

        <div class="element button">
            <button type="submit" class="btn btn-primary mb-2">Отправить</button>
        </div>


    </form>

</main>