<main>
    <form asp-controller="Home" asp-action="Send" class="form" method="post" enctype="multipart/form-data">
        <div class="element form-group">
            <label for="InputName">ФИО ребенка</label>
            <input name="name" type="text" class="form-control" id="InputName" placeholder="Введите ФИО ребенка" required>
            <small class="form-text text-muted">Например: Ардинцев Максим Александрович</small>
        </div>

        <div class="element form-group">
            <label for="InputNumber">Номер телефона</label>
            <input name="numberPhone" type="text" class="form-control" id="InputNumber" placeholder="Введите номер телефона" required>
            <small class="form-text text-muted">Например: 89274743480</small>
        </div>

        <div class="element form-group">
            <label for="InputGroup">Группа</label>
            <input name="numberGroup" type="text" class="form-control" id="InputGropup" placeholder="Введите название группы" required>
            <small class="form-text text-muted">Например: В3213</small>
        </div>

        <div class="element form-group">
            <label for="InputBlock">Блок</label>
            <select name="block" class="form-control" id="InputList">
                <option disabled selected>Выберите блок</option>
                <option>Construct 3</option>
                <option>Kodu</option>
                <option>Python</option>
                <option>C#</option>
                <option>C++</option>
            </select>
        </div>

        @* <div class="element form-group">
            <label for="InputTheme">Тема</label>
            <input name="theme" type="text" class="form-control" id="InputTheme" placeholder="Введите название пропущенной темы или номер урока" required>
            <small class="form-text text-muted">Например: Введение в SketchUp</small>
        </div>
 *@
        <div class="element form-group">
            <label for="InputDataLess">Когда было пропущено занятие?</label>
            <input name="dataMiss" type="text" class="form-control" id="InputDataLess" placeholder="Введите даты занятий" required>
            <small class="form-text text-muted">Например: 20.03.24</small>
        </div>

        <div class="element form-group">
            <label for="InputData">Когда Вы сможете прийти на консультацию?</label>
            <input name="freeTime" type="text" class="form-control" id="InputData" placeholder="Введите свободные часы" required>
            <small class="form-text text-muted">Например: 20.03.24 с 10:00 до 13:00, 21.03.24 с 15:00 до 18:00</small>
        </div>

        <div class="element form-group">

            <label for="FormControlFile">Прикрепите справку из больницы(фото):</label><br><br>
            <input name="formFile" type="file" class="form-control-file" id="file" required>
        </div>



        <div class="element button">
            <button type="submit" class="btn btn-primary mb-2">Отправить</button>
        </div>


    </form>

</main>