<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AcademyTOP</title>
    <link rel="icon" href="~/images/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="head">
            <div class="holder-logo">
                <span>
                    <b>AcademyTOP</b>
                    <img src="~/images/logo.png" alt="Логотип" width="50px">
                </span>
            </div>
            
        </div>
        

    </header>
    <form class="holder-button" asp-controller="Authorization" asp-action="Index">
        <button class="btn btn-light mb-2" id="login" >Войти</button>
    </form>
    @RenderBody()

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>